<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is FnacMarketplaceAPI</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <form action="{% url 'orders_update' %}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <table id="table">
            <tr>
                <th>Order detail update:</th>
                <th></th>
            </tr>
            <tr>
                <td>order_id:</td>
                <td><input id="va_change" type="text" name="orders_id" value=""></td>
            </tr>
            <tr id="add_after">
                <td>action:</td>
                <td><select name="action">
                    <option value="accept_order">accept_order</option>
                    <option value="confirm_to_send">confirm_to_send</option>
                    <option value="update">update</option>
                    <option value="accept_all_orders">accept_all_orders</option>
                    <option value="confirm_all_to_send">confirm_all_to_send</option>
                    <option value="update_all">update_all</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
                <td></td>
            </tr>
        </table>
    </form>

    <form method="post" action="{% url 'orders_update_accept' %}" enctype="multipart/form-data" accept-charset="UTF-8">
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>order_id:</td>
                <td><input type="text" name="order_id" value=""></td>
            </tr>
            <tr>
                <td>action:</td>
                <td><select name="action">
                    <option value="accept_order">accept_order</option>
                    <option value="confirm_to_send">confirm_to_send</option>
                    <option value="update">update</option>
                    <option value="accept_all_orders">accept_all_orders</option>
                    <option value="confirm_all_to_send">confirm_all_to_send</option>
                    <option value="update_all">update_all</option>
                </select></td>
            </tr>
            <tr>
                <td>order_detail_action:</td>
                <td><select name="order_detail_action">
                    <option value="Accepted">Accepted</option>
                    <option value="Refused">Refused</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Refunded">Refunded</option>
                    <option value="Updated">Updated</option>
                </select></td>
            </tr>
            <tr>
                <td>tracking_number:</td>
                <td><input type="text" name="tracking_number" value=""></td>
            </tr>
            <tr>
                <td>tracking_company:</td>
                <td><input type="text" name="tracking_company" value=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>Order Update Table</h3>
                <p class="text-muted">Add class <code>.table</code></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>status</th>
                            <th>order_id</th>
                            <th>state</th>
                            <th>order_detail_id</th>
                            <th>status</th>
                            <th>state</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data_dict_ls == '' %}
                            <tr>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for dict_data in data_dict_ls %}
                                <tr>
                                    <td>{{ dict_data.status }}</td>
                                    <td>{{ dict_data.order_id }}</td>
                                    <td>{{ dict_data.state }}</td>
                                    <td>{{ dict_data.order_detail.order_detail_id }}</td>
                                    <td>{{ dict_data.order_detail.status }}</td>
                                    <td>{{ dict_data.order_detail.state }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
<script>
    $(document).ready(function () {
        $('#va_change').change(function () {
            let th = $(this);
            let order_id = th.val();
            $.ajax({
                url: '/order/change/',
                dataType: 'json',
                type: 'post',
                data: {'order_id': order_id},
                success: function (data) {
                    if (data.len === 'error') {
                        alert('订单号错误')
                    } else {
                        len = parseInt(data.len);
                        var html = '';
                        for (i = 0; i < len; i++) {

                            let j = i + 1;
                            let id = 'id' + j.toString();
                            let action = 'order_detail_action' + j.toString();

                            html += `
                            <tr>
                            <td>order_detail_id:</td>
                            <td><input type="number" name="` + id + `" value="` + j + `"></td>
                        </tr>
                        <tr>
                            <td>order_detail_action:</td>
                            <td><select name="` + action + `">
                                <option value="Accepted">Accepted</option>
                                <option value="Refused">Refused</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Refunded">Refunded</option>
                                <option value="Updated">Updated</option>
                            </select></td>
                        </tr>
                            `
                        }
                        $('#add_after').after(html)

                    }
                }
            })
        })
    })
</script>
</body>

</html>
