<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is FnacMarketplaceAPI</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        .table {
            vertical-align: middle;
            text-align: center;
        }


        #tr_cen th {
            text-align: center;
        }
        ul li{ list-style: none;
            display: inline;
        }
        #middle_bottom {
            text-align: center;
        }

    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">{% load date_filter %}
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <form action="{% url 'incidents_query' %}" method="get" enctype="multipart/form-data" accept-charset="UTF-8">
        <strong>Incidents query:</strong><br>
        date:
        <select name="date-type">
            <option value="CreatedAt">CreatedAt</option>
            <option value="UpdatedAt">UpdatedAt</option>
            <option value="ClosedAt">ClosedAt</option>
        </select>
        min:
        <input type="date" name="min" value="">
        max:
        <input type="date" name="max" value="">
        <input type="submit" value="提交">
    </form>
    <br>
    <form action="{% url 'incident_update' %}" enctype="multipart/form-data" method="post" accept-charset="UTF-8">
        <strong>Incident update(refund):</strong><br>
        order_id:
        <input type="text" name="order_id" value="">
        order_detail_id:
        <input type="text" name="order_detail_id" value="">
        refund_reason:
        <select name="refund_reason">
            <option value="no_stock">no_stock</option>
            <option value="other">other</option>
        </select>
        <input type="submit" value="提交">
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>Incident Table</h3>
                <p class="text-muted">Add class <code></code></p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr id="tr_cen">
                            <th>stauts</th>
                            <th>waiting_for_seller_answer</th>
                            <th>message</th>
                            <th>order_id</th>
                            <th>created_at</th>
                            <th>updated_at</th>
                            <th>opened_by</th>
                            <th>closed_by</th>
                            <th>detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if dict_data_ls == '' %}
                            <tr>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for dict_data in dict_data_ls %}
                                <tr class="tr_show">
                                    <td>{{ dict_data.header.status }}</td>
                                    <td>{{ dict_data.header.waiting_for_seller_answer }}</td>
                                    <td>{{ dict_data.header.message | de_none }}</td>
                                    <td>{{ dict_data.header.order_id }}</td>
                                    <td>{{ dict_data.header.created_at | too }}</td>
                                    <td>{{ dict_data.header.updated_at | too }}</td>
                                    <td>{{ dict_data.header.opened_by }}</td>
                                    <td>{{ dict_data.header.closed_by }}</td>
                                    <td>{{ dict_data.order_details_incident.order_detail_incident | detail_filter }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>

</body>

</html>
