<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is a responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <form action="{% url 'messages_query' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
        message query:<br>
        paging:
        <input type="text" name="paging" value="">
        date:
        <select name="date_type">
            <option value="CreatedAt">CreatedAt</option>
            <option value="UpdatedAt">UpdatedAt</option>
        </select>
        min:
        <input type="date" name="min" value="">
        max:
        <input type="date" name="max" value="">
        <input type="submit" value="提交">
    </form>
    <br>
    <form action="{% url 'messages_query_type' %}" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        message type query：<br>
        message_type:
        <select name="message_type">
            <option value="OFFER">OFFER</option>
            <option value="ORDER">ORDER</option>
        </select>
        message_archived:
        <select name="message_archived">
            <option value="TRUE">TRUE</option>
            <OPTION value="FALSE">FALSE</OPTION>
        </select>
        message_state:
        <select name="message_state">
            <option value="READ">READ</option>
            <option value="UNREAD">UNREAD</option>
        </select>
        <input type="submit" value="提交">
    </form>
</div>
<div>


    <!-- /.container-fluid -->

    <!-- /#page-wrapper -->
    {% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
</body>

</html>
