<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is a responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style type="text/css">
        textarea {
            width: 300px;
            height: 100px;

        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <form action="{% url 'message_update' %}" enctype="multipart/form-data" method="post" accept-charset="UTF-8">
        <table>
            <tr>
                <th>message update:</th>
                <th></th>
            </tr>
            <tr>
                <td>id:</td>
                <td><input type="text" name="id" value=""></td>
            </tr>
            <tr>
                <td>action:</td>
                <td><select name="action1">
                <option value="mark_as_read">read</option>
                <option value="mark_as_unread">unread</option>
                <option value="archive">archive</option>
                <option value="mark_as_">read_and_archive</option>
                <option value="unarchive">unarchive</option>
                <option value="reply">reply</option>
                <option value="create">create</option>
            </select></td>
            </tr>
            <tr>
                <td>message_to:</td>
                <td><select name="message_to">
                <option value="CALLCENTER">CALLCENTER</option>
                <option value="CLIENT">CLIENT</option>
                <option value="ALL">ALL</option>
            </select></td>
            </tr>
            <tr>
                <td>message_subject:</td>
                <td><select name="message_subject">
                <option value="product_information">product_information</option>
                <option value="shipping_information">shipping_information</option>
                <option value="order_information">order_information</option>
                <option value="offer_problem">offer_problem</option>
                <option value="offer_not_received">offer_not_received</option>
                <option value="other_question">other_question</option>
            </select></td>
            </tr>
            <tr>
                <td>message_description:</td>
{#                <td><input name="message_description" value=""></td>#}
                <td><textarea name="message_description"></textarea></td>
            </tr>
            <tr>
                <td>message_type:</td>
                <td><select name="message_type">
                <option value="OFFER">OFFER</option>
                <option value="ORDER">ORDER</option>
            </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
                <td></td>
            </tr>
        </table>
        </form>
    <span>{{ data.status }}</span>
    <span>{{ data.id }}</span>
</div>
<div>


    <!-- /.container-fluid -->

<!-- /#page-wrapper -->
{% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
</body>

</html>
