<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is FnacMarketplaceAPI</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        #offer_stat {
            display: none;
        }

        .table {
            vertical-align: middle;
            text-align: center;
        }

        #img_id {
            text-align: center;
        }
        #middle_bottom{
            text-align: center;
        }
        #tr_cen th{
            text-align: center;
        }
        ul li{ list-style: none;
            display: inline;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">{% load date_filter %}
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    {% include 'test/base_offer.html' %}


    <div class="row" id="offer_stat">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>Offer Table Status</h3>
                {#                            <p class="text-muted">Add class <code>.table</code></p>#}
                <div class="table-responsive">
                    <table id="table" class="table">
                        <thead>
                        <tr id="tr_cen">
                            <th>status</th>
                            <th>batch_id</th>
                            <th>offer_status</th>
                            <th>product_fnac_id</th>
                            <th>offer_fnac_id</th>
                            <th>offer_seller_id</th>
                            <th>error</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>Offer Table</h3>
                <p class="text-muted">Add class <code>共{{ ls }}条</code></p>
                <div>
                    <p class="text-muted"><code>第{{ page }}页</code></p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr id="tr_cen">

                            <th id="img_id">image</th>
                            <th>pro_name</th>
                            <th>off_seller_id</th>
                            <th>price</th>
                            <th>quantity</th>
                            <th>starts_at</th>
                            <th>ends_at</th>
                            <th>pro_price</th>
                            <th>is_ship_free </th>
{#                            <th>internal_comment</th>#}
{#                            <th>nb_messages</th>#}
{#                            <th>showcase</th>#}
{#                            <th>is_shipping_free</th>#}
{#                            <th>type_label</th>#}
                            <th>url</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data_dict_ls == '' %}
                            <tr>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for dict_data in data_dict_ls %}
                                <tr>
                                    {#                                    <td><input type="checkbox" name="na_check" value="{{ dict_data.offer_fnac_id }}">#}
                                    {#                                    </td>#}
                                    <td><img src="{{ dict_data.0 }}"/></td>
                                    <td>{{ dict_data.1 }}</td>
                                    <td>{{ dict_data.2 }}</td>
                                    <td>{{ dict_data.3 }}</td>
                                    <td>{{ dict_data.4 }}</td>
                                    <td>{{ dict_data.5 }}</td>
                                    <td>{{ dict_data.6 }}</td>
                                    <td>{{ dict_data.7 }}</td>
                                    <td>{{ dict_data.8 }}</td>
{#                                    <td>{{ dict_data.internal_comment }}</td>#}
{#                                    <td>{{ dict_data.nb_messages }}</td>#}
{#                                    <td>{{ dict_data.showcase }}</td>#}
{#                                    <td>{{ dict_data.is_shipping_free }}</td>#}

                                    <td><a href="{{ dict_data.9 }}"><input type="button" value="转到fnac"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

			<ul class="middle_bottom" id="middle_bottom">
                {% if data_dict_ls.has_previous %}
				<a href="?sort={{ sort }}&page={{ data_dict_ls.previous_page_number }}"><li><</li></a>
                {% else %}
                <a href=""><li><</li></a>
                {% endif %}
				<div style="display: inline">
					<a href="?sort={{ sort }}&page=1"><li class="active">1</li></a>
					<a href="?sort={{ sort }}&page=2"><li>2</li></a>
					<a href="?sort={{ sort }}&page=3"><li>3</li></a>
					<a href="?sort={{ sort }}&page=4"><li>4</li></a>
                    <a href="?sort={{ sort }}&page=5"><li>5</li></a>
					<a href="?sort={{ sort }}&page=6"><li>6</li></a>
					<a href="?sort={{ sort }}&page=7"><li>7</li></a>
					<a href="?sort={{ sort }}&page=8"><li>8</li></a>
				</div>
				{% if data_dict_ls.has_next %}
                    <a href="?sort={{ sort }}&page={{ data_dict_ls.next_page_number}}"><li>></li></a>
                {% else %}
				    <a href=""><li>></li></a>
				{% endif %}

			</ul>

		</div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- /#page-wrapper -->
{% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
<script src="/static/js/baseadmin.js"></script>

<script>
    $(document).ready(function () {
        $('#sub_all').click(function () {
            var id_array = [];
            $('input[name="na_check"]:checked').each(function () {
                id_array.push($(this).val());//向数组中添加元素
            });  //获取界面复选框的所有值

            var chapterstr = id_array.join(',');//把复选框的值以数组形式存放
            $('#offers_id').val(chapterstr)
        })
    })
</script>
</body>

</html>
