<!DOCTYPE html>
<html lang="en">

<head>
    {% load date_filter %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is a responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style type="text/css">
        #orders_id{
            display: none;
        }
         .table {
            vertical-align: middle;
            text-align: center;
        }

        {##img_id {#}
        {#    text-align: center;#}
        {#}#}
        #tr_cen th{
            text-align: center;
        }
        ul li{ list-style: none;
            display: inline;
        }
        #middle_bottom {
            text-align: center;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <form action="{% url 'orders_query_date' %}" method="get" accept-charset="UTF-8" enctype="multipart/form-data">

        <strong>Order query:</strong><br>
           state:
                <select name="state">
                    <option value="ALL">ALL</option>
                    <option value="Created">Created</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Refused">Refused</option>
                    <option value="ToShip">ToShip</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Received">Received</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Refunded">Refunded</option>
                    <option value="Error">Error</option>
                </select>

                date:
                <select name="date-type">
                    <option value="CreatedAt">Created</option>
                    <option value="UpdatedAt">Modified</option>
                </select>

                min:
                <input type="date" name="min" value="">
            max:
            <input type="date" name="max" value="">
           <input type="submit" value="提交">


    </form><br>

    <form action="{% url 'orders_query_id' %}" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
        <strong>Orders_fnac_id_query:</strong><br>
        orders_fnac_id:
        <input type="text" name="orders_fnac_id" value="">
        <input type="submit" value="提交">

        </form>
        <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                                <h3>Order Table</h3>
                            <p class="text-muted">order update <code>共{{ nb_total_result }}条</code></p>
                        <div>
                            <p class="text-muted"><code>第{{ page }}页</code></p>
                        </div>
                        <form method="post" action="{% url 'orders_update' %}" enctype="multipart/form-data" accept-charset="UTF-8">
                            <input type="text"  id="orders_id" name="orders_id" value="">
                            action:
                                <select name="action">
                                    <option value="accept_order">accept_order</option>
                                    <option value="confirm_to_send">confirm_to_send</option>
                                    <option value="update">update</option>
                                    <option value="accept_all_orders">accept_all_orders</option>
                                    <option value="confirm_all_to_send">confirm_all_to_send</option>
                                    <option value="update_all">update_all</option>
                                </select>
                                order_detail_action:
                                <select name="order_detail_action">
                                    <option value="Accepted">Accepted</option>
                                    <option value="Refused">Refused</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Refunded">Refunded</option>
                                    <option value="Updated">Updated</option>
                                </select>
                                <input id="sub_all" type="submit" value="提交">
                        </form>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr id="tr_cen">
                                            <th><input id="all_check" type="checkbox">all</th>
                                            <th>order_id</th>
                                            <th>state</th>
                                            <th>client_firstname</th>
                                            <th>client_lastname</th>
                                            <th>created_at</th>
                                            <th>updated_at</th>
                                            <th>fees</th>
                                            <th>tracking_number</th>
                                            <th>vat_rate</th>
                                            <th>order_detail</th>
                                            <th>address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for li in data_dict_ls %}
                                        <tr class="tr_order">
                                            <td class="cl_checkbox"><input type="checkbox" name="na_check" value="{{ li.order_id }}"></td>
                                            <td class="order_id">{{ li.order_id }}</td>
                                            <td>{{ li.state }}</td>
                                            <td>{{ li.client_firstname }}</td>
                                            <td>{{ li.client_lastname }}</td>
                                            <td>{{ li.created_at| too }}</td>
                                            <td>{{ li.updated_at | too }}</td>
                                            <td>{{ li.fees }}</td>
                                            <td>{{ li.order_detail.tracking_number | rep_none }}</td>
                                            <td>{{ li.vat_rate }}</td>
                                            <td ><a class="detail" href="">查看</a></td>
                                            <td><a class="shop" href="">查看</a></td>
                                        </tr>
                                        {% endfor %}
                                        <script>
                                            $(document).ready(function() {
                                                $(".detail").click(function () {
                                                    th = $(this);
                                                    id = th.parents('.tr_order').children('.order_id').text();
                                                    this.href = '/order/' + id + '/';
                                                });

                                                $(".shop").click(function () {
                                                    th = $(this);
                                                    id = th.parents('.tr_order').children('.order_id').text();
                                                    this.href = '/order-shop/' + id + '/';
                                                });

                                                $('#all_check').click(function () {
                                                    th = $(this);
                                                    if (th.is(':checked')) {
                                                        $('.cl_checkbox input').prop('checked', true)
                                                    } else {
                                                        $('.cl_checkbox input').prop('checked', false)
                                                    }

                                                });
                                                $('#sub_all').click(function () {
                                                        var id_array = [];
                                                        $('input[name="na_check"]:checked').each(function () {
                                                            id_array.push($(this).val());//向数组中添加元素
                                                        });  //获取界面复选框的所有值

                                                        var chapterstr = id_array.join(',');//把复选框的值以数组形式存放
                                                        $('#orders_id').val(chapterstr)
                                                    })
                                            })
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <ul class="middle_bottom" id="middle_bottom">
                {% if page > 1 %}
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging={{ page| page_h }}">
                        <li><</li>
                    </a>
                {% else %}
                    <a href="">
                        <li><</li>
                    </a>
                {% endif %}
                <div style="display: inline">
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=1">
                        <li class="active">1</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=2">
                        <li>2</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=3">
                        <li>3</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=4">
                        <li>4</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=5">
                        <li>5</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=6">
                        <li>6</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=7">
                        <li>7</li>
                    </a>
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging=8">
                        <li>8</li>
                    </a>
                </div>
                {% if page < total_page %}
                    <a href="?state={{ state }}&date-type={{ date_type }}&min={{ min }}&max={{ max }}&paging={{ page| page_a }}">
                        <li>></li>
                    </a>
                {% else %}
                    <a href="">
                        <li>></li>
                    </a>
                {% endif %}


        </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
</body>

</html>
