<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>My Admin - is FnacMarketplaceAPI</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        textarea {
            width: 500px;
            height: 100px;
        }
        #tr_cen th{
            text-align: center;
        }
        .table {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
{% include 'test/wrapper.html' %}
<!-- Page Content -->
<div id="page-wrapper">
    <strong>Add offer:</strong>
    <form action="{% url 'offers_update' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>product_reference :</td>
                <td><input type="text" name="product_reference" value="" placeholder="Ean"></td>
            </tr>
            <tr>
                <td>offer_reference :</td>
                <td><input type="text" name="offer_reference" value="" placeholder="SellerSku"></td>
            </tr>
            <tr>
                <td>price:</td>
                <td><input type="text" name="price" value=""></td>
            </tr>
            <tr>
                <td>product_state:</td>
                <td><select name="product_state">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="11" selected>11</option>
                </select></td>
            </tr>
            <tr>
                <td>internal_comment:</td>
                <td><textarea name="internal_comment"></textarea></td>
            </tr>
            <tr>
                <td>quantity:</td>
                <td><input type="number" name="quantity" value=""></td>
            </tr>
            <tr>
                <td>description:</td>
                <td><textarea name="description"></textarea></td>
            </tr>
            <tr>
                <td>showcase:</td>
                <td><input type="text" name="showcase" value=""></td>
            </tr>
            <tr>
                <td>logistic_type_id:</td>
                <td><select name="logistic_type_id">
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="105">105</option>
                    <option value="106">106</option>
                    <option value="107" selected>107</option>
                    <option value="108">108</option>
                    <option value="109">109</option>
                    <option value="110">110</option>
                    <option value="111">111</option>
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="203">203</option>
                    <option value="204">204</option>
                    <option value="205">205</option>
                    <option value="206">206</option>
                    <option value="207">207</option>
                    <option value="208">208</option>
                    <option value="209">209</option>
                    <option value="210">210</option>
                </select></td>
            </tr>

            <tr>
                <td><input type="submit" value="提交offer"></td>
                <td></td>
            </tr>
        </table>
    </form>
    <br>
    <form action="{% url 'update_offer_price' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
        <strong>Update price:</strong><br>
        offer_reference :
        <input type="text" name="offer_reference" value="" placeholder="SellerSku">
        price:
        <input type="number" name="price" value="" >
        <input type="submit" value="提交">
    </form><br>
    <form action="{% url 'delete_offer' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
        <strong>Delete offer:</strong><br>
        offer_reference :
        <input type="text" name="offer_reference" value="" placeholder="SellerSku">
        <input type="submit" value="提交">
    </form><br>
    <div>
        <a id="batch_query" href="">{{ batch_id }}</a>
    </div>
    <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3>Basic Table</h3>
                            <p class="text-muted">Add class <code>.table</code></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr id="tr_cen">
                                            <th>status</th>
                                            <th>batch_id</th>
                                            <th>offer_status</th>
                                            <th>product_fnac_id</th>
                                            <th>offer_fnac_id</th>
                                            <th>offer_seller_id</th>
                                            <th>error</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if dict_status == '' %}
                                        <tr>
                                            <td></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>{{ dict_status.status }}</td>
                                            <td>{{ dict_status.batch_id }}</td>
                                            <td>{{ dict_status.offer.status }}</td>
                                            <td>{{ dict_status.offer.product_fnac_id }}</td>
                                            <td>{{ dict_status.offer.offer_fnac_id }}</td>
                                            <td>{{ dict_status.offer.offer_seller_id }}</td>
                                            <td>{{ dict_status.offer.error.text }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>Basic Table</h3>
                <p class="text-muted">Add class <code>.table</code></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>product_reference</th>
                            <th>offer_reference</th>
                            <th>price</th>
                            <th>adherent_price</th>
                            <th>product_state</th>
                            <th>quantity</th>
                            <th>description</th>
                            <th>showcase</th>
                            <th>logistic_type_id</th>
                            <th>promotion-type</th>
                            <th>starts_at</th>
                            <th>ends_at</th>
                            <th>discount_value</th>
                            <th>trigger_customer_type</th>
                            <th>time_to_ship</th>

                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
<div>
    <!-- /#page-wrapper -->
    {% include 'test/end.html' %}
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!--Nice scroll JavaScript -->
<script src="/static/js/jquery.nicescroll.js"></script>
<!--Wave Effects -->
<script src="/static/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/myadmin.js"></script>
<script>
    $(document).ready(function() {
        $('#batch_query').click(function () {
            th = $(this);
            var id = th.text();
            th.attr('href', '/batch_query/'+ id + '/' )
        })
    })
</script>
</body>

</html>
