<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="{% url 'index' %}"><i class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs">Marketplace API</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg waves-effect waves-light"><i class="ti-arrow-circle-left ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input  id="search" type="text" placeholder="Search..." class="form-control">
                            <a href="" id="cli_a"><i class="ti-search"></i></a>
                        </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <img src="/static/images/users/hritik.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Maruti</b> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="navbar-default sidebar nicescroll" role="navigation">
            {% include 'test/public.html' %}
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
<script>
    $(document).ready(function () {
        $('#cli_a').click(function () {
            let th = $(this);
            let name = $('#search').val();
            th.attr('href', '/search-name/' + name + '/')
        })
    })
</script>