<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>messages_query</title>
</head>
<body>
    <div>
        <form action="{% url 'messages_query' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            results_count：
            <input type="text" name="results_count" value=""><br>
            paging:
            <input type="text" name="paging" value=""><br>
            date:
            <select name="date_type">
                <option value="CreatedAt">CreatedAt</option>
                <option value="UpdatedAt">UpdatedAt</option>
            </select><br>
            min:
            <input type="datetime-local" name="min" value=""><br>
            max:
            <input type="datetime-local" name="max" value=""><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <div>
        <form action="{% url 'messages_query_type' %}" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
            message_type:
            <select name="message_type">
                <option value="OFFER">OFFER</option>
                <option value="ORDER">ORDER</option>
            </select>
            message_archived:
            <select name="message_archived">
                <option value="TRUE">TRUE</option>
                <OPTION value="FALSE">FALSE</OPTION>
            </select>
            message_state:
            <select name="message_state">
                <option value="READ">READ</option>
                <option value="UNREAD">UNREAD</option>
            </select>
            sort_by:
            <select name="sort_by">
                <option value="DESC">DESC</option>
                <option value="ASC">ASC</option>
            </select>
            message_from_types:
            <select name="message_from_types">
                <option value="CLIENT">CLIENT</option>
                <option value="CALLCENTER">CALLCENTER</option>
                <option value="SELLER">SELLER</option>
                <option value="SYSTEM">SYSTEM</option>
            </select><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <a href="{% url 'index' %}" methods="get"><input type="button" value="首页"></a>
    <div>
        {{ data }}
    </div>
</body>
</html>