<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>offer_query_show</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>image</td>
            <td>product_name</td>
            <td>product_fnac_id</td>
            <td>offer_fnac_id</td>
            <td>offer_seller_id</td>
            <td>product_state</td>
            <td>price</td>
            <td>quantity</td>
            <td>description</td>
            <td>internal_comment</td>
            <td>nb_messages</td>
            <td>showcase</td>
            <td>is_shipping_free</td>
            <td>type_label</td>
            <td>product_url</td>
        </tr>
        {% for dict_data in data_dict_ls %}
        <tr>
            <td><img src="{{ dict_data.image }}"/></td>
            <td>{{ dict_data.product_name }}</td>
            <td>{{ dict_data.product_fnac_id }}</td>
            <td>{{ dict_data.offer_fnac_id }}</td>
            <td>{{ dict_data.offer_seller_id }}</td>
            <td>{{ dict_data.product_state }}</td>
            <td>{{ dict_data.price }}</td>
            <td>{{ dict_data.quantity }}</td>
            <td>{{ dict_data.description }}</td>
            <td>{{ dict_data.internal_comment }}</td>
            <td>{{ dict_data.nb_messages }}</td>
            <td>{{ dict_data.showcase }}</td>
            <td>{{ dict_data.is_shipping_free }}</td>
            <td>{{ dict_data.type_label }}</td>
            <td><a href="{{ dict_data.product_url }}"><input type="button" value="转到fanc"></a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'offers_query' %}" methods="get"><input type="button" value="上一页"></a>
    <a href="{% url 'index' %}" methods="get"><input type="button" value="首页"></a>
</body>
</html>