<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orders_update</title>
</head>
<body>
    <div>
        <form action="{% url 'orders_update' %}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            order_id:
            <input type="text" name="order_id" value=""><br>
            action:
            <select name="action">
                <option value="accept_order">accept_order</option>
                <option value="confirm_to_send">confirm_to_send</option>
                <option value="update">update</option>
                <option value="accept_all_orders">accept_all_orders</option>
                <option value="confirm_all_to_send">confirm_all_to_send</option>
                <option value="update_all">update_all</option>
            </select>
            order_detail_action:
            <select name="order_detail_action">
                <option value="Accepted">Accepted</option>
                <option value="Refused">Refused</option>
                <option value="Shipped">Shipped</option>
                <option value="Refunded">Refunded</option>
                <option value="Updated">Updated</option>
            </select><br>
            <input type="submit" value="提交">
        </form>

        <form method="post" action="{% url 'orders_update_accept' %}" enctype="multipart/form-data" accept-charset="UTF-8">
            order_id:
            <input type="text" name="order_id" value=""><br>
            action:
            <select name="action">
                <option value="accept_order">accept_order</option>
                <option value="confirm_to_send">confirm_to_send</option>
                <option value="update">update</option>
                <option value="accept_all_orders">accept_all_orders</option>
                <option value="confirm_all_to_send">confirm_all_to_send</option>
                <option value="update_all">update_all</option>
            </select>
            order_detail_action:
            <select name="order_detail_action">
                <option value="Accepted">Accepted</option>
                <option value="Refused">Refused</option>
                <option value="Shipped">Shipped</option>
                <option value="Refunded">Refunded</option>
                <option value="Updated">Updated</option>
            </select>
            tracking_number:
            <input type="text" name="tracking_number" value=""><br>
            tracking_company:
            <input type="text" name="tracking_company" value=""><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <a href="{% url 'index' %}"><input type="button" value="上一页"></a>
    <div>
        {{ data }}
    </div>
</body>
</html>