<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order_query_show</title>
</head>
<body>
    <div>
       <table border="1">
        <tr>
            <th></th>
            <th>firstname</th>
            <th>lastname</th>
            <th>company</th>
            <th>address1</th>
            <th>address2</th>
            <th>address3</th>
            <th>zipcode</th>
            <th>city</th>
            <th>country</th>
        </tr>
        <tr>
            <td>shipping_address</td>
            <td>{{ ship_data.firstname }}</td>
            <td>{{ ship_data.lastname }}</td>
            <td>{{ ship_data.company }}</td>
            <td>{{ ship_data.address1 }}</td>
            <td>{{ ship_data.address2 }}</td>
            <td>{{ ship_data.address3 }}</td>
            <td>{{ ship_data.zipcode }}</td>
            <td>{{ ship_data.city }}</td>
            <td>{{ ship_data.country }}</td>
        </tr>
           {% if bill_data != '' %}
            <tr>
                <td>billing_address</td>
                <td>{{ bill_data.firstname }}</td>
                <td>{{ bill_data.lastname }}</td>
                <td>{{ bill_data.company }}</td>
                <td>{{ bill_data.address1 }}</td>
                <td>{{ bill_data.address2 }}</td>
                <td>{{ bill_data.address3 }}</td>
                <td>{{ bill_data.zipcode }}</td>
                <td>{{ bill_data.city }}</td>
                <td>{{ bill_data.country }}</td>
            </tr>
           {% else %}
           <tr>
                <td>billing_address</td>
            </tr>
           {% endif %}
    </table>
    </div>
</body>
</html>