<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sales</title>
</head>
<body>
    <div>
        <form action="{% url 'sales_periods_query' %}" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            results_count:
            <input type="text" name="results_count" value=""><br>
            paging:
            <input type="text" name="paging" value=""><br>
            date:
            <select name="date_type">
                <option value="StartAt">StartAt</option>
                <option value="EndAt">EndAt</option>
            </select><br>
            min:
            <input type="datetime-local" name="min" value=""><br>
            max:
            <input type="datetime-local" name="max" value=""><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <a href="{% url 'index' %}"><input type="button" value="首页"></a>
    <div>
        {{ data }}
    </div>
</body>
</html>